*.swp
*.swo
tags
.idea/

# Ignore all dot files and directories
.*

# But keep these
!.gitignore
!.gitattributes
!.dockerignore
!.github/
!.gitlab/
!.devcontainer/
!.bazelrc
!.bazelversion

bazel-*
dist/
test-reports/
